*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  li {
    list-style: none;
  }
  
body {
    background-image: url('img/black.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.verticalline {
    border-top: 0.5px solid black;
}

.header {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}
.heading {
    position: relative;
    text-align: center;
    font-family: Poor Richard;
    font-size: 200%;
    color: rgb(250, 250, 250);
    padding-bottom: 2vh;
    text-shadow: 2px 4px 4px #000000;
    display: block;
}
.main_logo {
    width: 30%;
    transform: scale(0.5);
    display: block;
}

#RRR {
    margin-top: 13vh;
    position: absolute;
    width: 20vw;
    height: 25vh;
    padding-left: 5vw;
}

/*DESCRIPTION*/

.about {
    /* display: inline;
    width: 100vw;
    height: 100vh; */
    margin: auto auto;
    padding-top: 10rem;
}
.logo-side {
    width: 40%;
}
.about {
    display: flex;
    width: 100vw;
    height: fit-content;
    /* margin: auto auto; */
    padding: 5rem 2rem;
}
.logo-side {
    width: 40%;
}

.image {
    /* background-image: url('img/deslogo.png'); */
    width: 100%;
    height: 100%;
    /* background-size: contain;
    background-repeat: no-repeat; */
}
.content {
    transform: translate(10%, 0%);
    max-width: 50%;
}
.head {
    text-align: left;
    font-size: 3rem;
    color: white;
}
.text {
    font-size: 1.4rem;
    color: white;
}

.comp {
    position: relative;
    padding-bottom: 30px;
    padding-top: 5%;
}

#ONGOING {
    position: relative;
    text-align: center;
    font-family: Modern No. 20;
    font-size: 350%;
    color: white;
    padding-bottom: 2vh;
    text-shadow: 2px 4px 4px #000000;
    padding-bottom: 10%;
}
.COMPETITIONS {
    position: relative;
    text-align: center;
    font-family: Viner Hand ITC;
    font-size: 150%;
    color: rgb(241, 27, 27);
    padding-bottom: 2vh;
    text-shadow: 2px 4px 4px #000000;
    padding-bottom: 15%;
}
.contact {
    position: relative;
    text-align: center;
    font-family: Poor Richard;
    font-size: 350%;
    color: rgb(253, 253, 253);
    padding-bottom: 2vh;
    text-shadow: 2px 4px 4px #000000;
    padding-bottom: 10%;
    padding-top: 10%;
}

.media li {
    list-style: none;
    margin: 30px 25px;
    display: inline-block;
    font-size: 30px;
    padding: 20px 25px;
    color: yellow;
    border: 1px solid green;
    border-radius: 50%;
    transition: 0.5s;
    background-color: #cafd5d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.media li:hover {
    color: yellow;
    border: 7px solid #7ee141;
    transition: 0.5s;
}
.media {
    position: absolute;
    left: 31vw;
}
@media only screen and (max-width: 1200px) {
    .media {
        left: 31vw;
    }
}

@media only screen and (max-width: 960px) {
    .media {
        left: 23vw;
    }
}

.delivery {
    text-align: center;
    margin-bottom: 20px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30%;
    background-color: thistle;
    text-align: center;
    transform: scale(0.9);
    margin-left: 35%;
}

.card:hover {
    background-color: rgb(230, 141, 230);
    transform: scale(1.03);
}

.container {
    padding: 3px 16px;
}

/*CURSOR*/
.News-not {
    cursor: pointer;
}
.Contact-not {
    cursor: pointer;
}
/* FLOATING ANIMATION */

html {
    scroll-behavior: smooth;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.topnav {
    overflow: hidden;
    background-color: rgb(34, 110, 250);
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #47ace6;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 548px) {
    div#myTopnav {
        position: absolute;
    }
    nav#headerNav {
        width: 25rem;
        height: 100%;
        position: fixed;
        top: 0;
        right: -25rem;
        background-color: rgba(34, 110, 250, 0.9);;
        text-align: center;
        z-index: 999;
      }
    
      .clicked {
        left: 55%;
      }
      .header__main-nav--hamburger {
        width: 3rem;
        height: 3rem;
        position: fixed;
        top: 2rem;
        right: 0;
        cursor: pointer;
        background-color: rgb(34, 110, 250);;
        padding: 0.5rem;
        border-top-left-radius: 30%;
        border-bottom-left-radius: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      .line {
        width: 100%;
        height: 0.15rem;
        background-color: white;
        border-radius: 0.1rem;
        transition: all 0.4s ease-in-out;
      }
      ul.headerNavLinks {
        position: absolute;
        top: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
      ul.headerNavLinks li {
        margin-bottom: 4vh;
        margin-left: 6vw;
      }
      .clicked .line-1 {
        transform: rotateZ(-405deg) translate(-0.48rem, 0.36rem);
      }
      .clicked .line-2 {
        opacity: 0;
      }
      .clicked .line-3 {
        transform: rotateZ(405deg) translate(-0.48rem, -0.36rem);
      }
      ul.headerNavLinks li {
        opacity: 0;
      }
      ul.headerNavLinks li:nth-child(1) {
        transition: all 0.5s ease-in-out 0.2s;
      }
      ul.headerNavLinks li:nth-child(2) {
        transition: all 0.5s ease-in-out 0.4s;
      }
      ul.headerNavLinks li:nth-child(3) {
        transition: all 0.5s ease-in-out 0.6s;
      }
      ul.headerNavLinks li:nth-child(4) {
        transition: all 0.5s ease-in-out 0.8s;
      }
      ul.headerNavLinks li.fade {
        opacity: 1;
      }
    
}
@media screen and (max-width:800px){
    div.about{
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        width: 100%;
        height: fit-content;
        text-align: center;
    }
    .content{
        text-align: center;
    }
    .head{
        text-align: center;
        /* align-content: center; */
        width: 80vw;
    }
    .image{
        align-self: center;
        margin: 10px auto;
    }
    .logo-side{
        width: 80vw;
    }
    p.text{
        /* word-wrap: none; */
        width: 80vw;
        /* align-self: start !important; */
    }
}
